body{
  margin:0;
  font-family: Arial, Helvetica, sans-serif;
  background:#0b0f19;
  color:white;
  min-height:100vh;
  display:flex;
  justify-content:center;
  align-items:center;
}

h1{
  font-size:36px;
}

p{
  font-size:18px;
}
